# Virtual environment
.venv/

# Samples
sample/

# Keep folders but ignore contents (preserve .gitkeep)
/data/outputs/**
!/data/outputs/.gitkeep

/data/filtered/**
!/data/filtered/.gitkeep

/data/parts/**
!/data/parts/.gitkeep