# Web API
fastapi==0.115.0
uvicorn[standard]==0.30.6

# ML / data
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2
shap==0.46.0

# Config / I/O
pyyaml==6.0.2
python-dotenv==1.0.1
opensearch-py==2.7.1
openstacksdk==3.3.0

# (Optional, only if you actually use them)
#drain3==0.9.11
#pyarrow==12.0.1
#fastparquet==2024.11.0
